body{
    font-family: Open Sans;
}
.bg-nav{
    
 
}



.navs{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    // border: green solid 3px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    margin: 0;
    padding: 0;
    
    

}

.nav1{
    display: flex;
    justify-content: space-around;
    border-top: white solid 2px;
    border-bottom: white 2px solid;
    width: 40%;
    text-align: center;
   

    .home:hover{
        background-color: red;
        width: 15%;
        height: 30px

    }

    .aboutus:hover{
        background-color: red;
        width: 20%;
        height: 30px

    }
    .menulist:hover{
        background-color: red;
        width: 20%;
        height: 30px

    }
    .team:hover{
        background-color: red;
        width: 15%;
        height: 30px

    }


}

.tastelogo{
    
    width: max-content;
}



.nav2{
    display: flex;
    justify-content: space-around;
    border-top: white solid 2px;
    border-bottom: white 2px solid;
    width: 45%;
    text-align: center;



    .reservation:hover{
        background-color: red;
        width: 25%;
        height: 30px

    }

    .blog:hover{
        background-color: red;
        width: 10%;
        height: 30px

    }
    .testimonials:hover{
        background-color: red;
        width: 22%;
        height: 30px

    }
    .contactus:hover{
        background-color: red;
        width: 20%;
        height: 30px

    }

}

.whateverandbutt{

border: blue solid 3px;
height: 200%;
text-align: center;
align-items: center;
justify-content: center;
margin-bottom: 500px;


// .bottomdeco{
//     background-image: url("../../../public/images/bottom_decoration_img.png");
//     background-color: black;
//     border: red 3px solid;

// }   

.btn{

        border-radius: 15px;
        
    }

}

.whatever{
    
    color: white;
    font-size: 55px;
    font-family: courgette;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;

    .buttonpurhchase{
        background-color: red;
        border-radius: 50%;
    }

 
}

span{
    color: red;
}



@media (min-width : 320px) {

.navs{


}

}

@media (max-width : 1240px){

    .navs{
        align-items: center;
        margin-top: 5%;
    }

    .whatever{
    }


}