.section3{
    background-color: black;
    height: 700px;
    margin-top: 0%;

    .meetandlogo{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 5%;
      

        .meetourtxt{
        color: white;
        font-family: courgette;
        font-size: 250%;
        }

    }



    

    .chefs{
        display: flex;
        justify-content: space-around;


        .chef1{
           
            width: 20%;

            .chef1img{


               position: relative;
               max-width: max-content;
               max-height: max-content; 

               


            }

            .chef1img:hover{
                border: red 3px solid;
                height: 80px;
                background-color: red;
                transition: ease-in;
                transition-duration: 1s;
            }
            
            // .chef1img::before{
            //        content: "";
            //        position: absolute;
            //        bottom: 0px;
            //        width: 100%;
            //        height: 0%;
            //        background-color: red;
            //        transition: 2s;
            //        z-index: 4;
                   
            // }

            // .chef1img:hover::before{
            //        height: 50%;
            //        content: "Lorem ipsum";
            // }



            // .loremipsum{
            //     color: white;
            //     font-family: Open Sans;
            //     text-align: center;
            // }

            // .loremipsum::before{
            //     content: " lorem";
            //     position: absolute;
            //     bottom: 0;
            //     width: 0;
            //     height: 0;
            //     background-color: red;
            //     transition: 2s;
            //     z-index: -1;
            // }

            // .loremipsum:hover::before{
            //     height: 100%;
            // }



            .border1{
               
                border-bottom: grey 2px solid;
                // content: "";
                //  position: absolute;
                // bottom: 0;
                // width: 100%;
                // height: 0;
                // transition: 1s;
                // z-index: -1;
                // background-color: tomato;


                .divcont{
                    font-size: 10px;
                    text-align: center;
                    

                }
                

               
            } 
            
            // .border1:hover{
            //         border: red 3px solid;
            //         height: 80px;
            //         background-color: red;
            //         transition: ease-in;
            //         transition-duration: 1s;
            //     }
        }
    }
}