.section5{

    background-image: url("../../../public/images/testimonials_background.jpg");
    height: 400px;
    margin-top: 51%;
    background-repeat: no-repeat;


    .testandlogo{
        border: transparent solid 3px;
        color: white;
        font-family: courgette;
        font-size: 50px;
        text-align: center;

        .meetourtxt{

            margin-top: 5%;
            margin-bottom: 0;

           

        }

    }   .logosection5{
             position: absolute;
             margin-left: 30%;
            }

}