.section7{
    background-color: white;
    margin-top: 5%;

    .imgdeco2{
        height: 15px;
        z-index: 4;
    }

    .bg-tags{
        background-image: url("../../../public/images/footer_background.jpg");
        height: 350px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    .troiscol{
        display: flex;
        justify-content: space-around;



        .aboutus{
            color: white;
            // width: 30%;
            margin-top: 6%;


            .h3aboutus{
                font-weight: bold;
            }

            .logosabout{
                width: 50%;
                font-size: 25px;
                display: flex;
                justify-content: space-between;
                
            }

            .firsttags{

                .tags{
                    border: white solid 1px;
                    border-radius: 15px;
                }
            }


        }
    }    
        .fourfoodbox{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .fourfood{
                display: flex;
                justify-content: space-between;
                width: 100%;

            }
        }
    }
}

.redf{
    background-color: #DA4E4E;
    height: 90px;
}

// .decobottom{
//     z-index: 1;
//     background-color: black;
//       transform: rotate(180deg);
//       position: absolute;

// }


@media (min-width : 320px) and (max-width : 515px){

.section7{


    

    .bg-tags{

        height: 950px;
        
        .troiscol{
            width: 300%;
            flex-direction: column;
            text-align: center;

                .aboutus{
                    width: 30%;

                    .h3aboutus{

                    }
                }

                .logosabout{
                    text-align: center;
                    margin-left: 25%;
                }
        }



    }



}


}

//  media 2 


@media (min-width : 516px) and (max-width : 816px){

    .section7{

    
        
    
        .bg-tags{
    
            border: pink solid 3px;
            height: 500%;
            
            .troiscol{
                width: 300%;
                flex-direction: column;
                text-align: center;
                margin-left: 5%;

    
                    .aboutus{
                        width: 30%;
    
                        .h3aboutus{
    
                        }
                    }
    
                    .logosabout{
                        text-align: center;
                        margin-left: 25%;
                    }
            }
    
    
    
        }
    
    
    
    }
    
    
    }


// media 3 

@media (min-width : 817px) and (max-width : 1000px){

    .section7{

    
        
    
        .bg-tags{
    
            border: pink solid 3px;
            height: 500%;
            
            .troiscol{
                width: 300%;
                flex-direction: column;
                text-align: center;
                margin-left: 5%;

    
                    .aboutus{
                        width: 30%;
    
                        .h3aboutus{
    
                        }
                    }
    
                    .logosabout{
                        text-align: center;
                        margin-left: 25%;
                    }
            }
    
    
    
        }
    
    
    
    }
    
    
    }









@media (min-width : 992px) and (max-width : 1880px){

    .aboutus{
        width: 30%;
    }



}