.section5{

    background-image: url("../../../public/images/testimonials_background.jpg");
    height: 400px;
    margin-top: 51%;
    background-repeat: no-repeat;


    .testandlogo{
        border: transparent solid 3px;
        color: white;
        font-family: courgette;
        font-size: 50px;
        text-align: center;

        .meetourtxt{

            margin-top: 5%;
            margin-bottom: 0;

           

        }

    }   .logosection5{
             position: absolute;
             margin-left: 30%;
      
      
            }

         .meuftexttextmeuf{
                 display: flex;
                 justify-content: space-around;

        .meuf{
            border: 5px solid rgb(193, 193, 243);
            border-radius: 200px;
            width: 10%;
            height: 5%;
            margin-top: 1.5%;
        }

        .txttestimo{
            border: rgba(255, 255, 255, 0.568) 1px solid;
            color: white;
            border-radius: 5px;
            width: 35%;
        }
    }        

}

@media (min-width : 320px) and (max-width : 1880px){

    .section5{

        height: 450px;
        .testandlogo{
            .meetourtxt{
                font-size: 30px;
            }

        }

        .logosection5{
            width: 50%;

        }

        .container{
            margin-top: 5%;

            .meuftexttextmeuf{
                display: flex;
                justify-content: space-around;
                

                .meuf{
                    width: 20%;
                }

                .txttestimo{
                    color: white;
                    border-radius: 5px;
                    width: 35%;
                    height: 50%;
                }

                .txttestimo{
                    height: 20px;
                }

            }

        }
    }



}