.section7{
    background-color: white;
    margin-top: 5%;

    .bg-tags{
        background-image: url("../../../public/images/footer_background.jpg");
        height: 350px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    .troiscol{
        border: blue solid 3px;
        display: flex;
        justify-content: space-around;



        .aboutus{
            color: white;
            width: 30%;
            border: red solid 3px;
            margin-top: 6%;


            .h3aboutus{
                font-weight: bold;
            }

            .logosabout{
                width: 50%;
                font-size: 25px;
                display: flex;
                justify-content: space-between;
                
            }

            .firsttags{

                .tags{
                    border: white solid 1px;
                    border-radius: 15px;
                }
            }


        }
    }    
        .fourfoodbox{
            border: white solid 3px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .fourfood{
                display: flex;
                justify-content: space-between;
                width: 100%;

            }
        }
    }
}

.redf{
    background-color: #DA4E4E;
    height: 90px;
}

// .decobottom{
//     z-index: 1;
//     background-color: black;
//       transform: rotate(180deg);
//       position: absolute;

// }