.bg-ourstory{

    background-image: url("../../../public/images/main_bg.jpg");
    
    
    
    
    }
    
    .container2{
        margin-left: 2%;
        margin-right: 2%;
        height: 100vh;
        
        .bg-box-left-top{
            display: flex;
            // width: 100%;
            justify-content: space-between;
            align-items: center;
            
    
           
            
    
            .decoline{
                position: absolute;
                height: 3%;
                width: 45%;
                text-align: center;
                margin-top: 7%;
                margin-left: 26%;
            }
    
            .titreOurStory{
                position: relative;
                // width: 50%;
                text-align: center;
                font-family: courgette;
                // font-size: 350%;
                // margin-top: 2%;
            }
    
           
    
            
        }
         .bottom2red{
                
                // width: 100%;
                display: flex;
                justify-content: space-between;
    
                .logolineee{
                    width: 40%;
                    height: 200%;
                    margin-top: 5%;  
                }
            }
    
    }
    
    .white{
        padding-top: 3%;
        position: relative;
    
        
        
        
        
    
            .txt_ourstory{
                
                text-align: center;
                
                margin-top: 15%;
                margin-left: 20%;
                margin-right: 20%;
               
                
             }
    
    
        .ourMenu{
    
              
    
             .titreOurMenu{
                
                position: relative;
                // width: 50%;
                text-align: center;
                font-family: courgette;
                // font-size: 300%;
                // margin-top: 2%;
                // margin-left: 25%;
    
             
            } .decoline2{
                    position: absolute;
                    height: 3%;
                    width: 45%;
                    text-align: center;
                    margin-top: 8%;
                    margin-left: 26%;
                    
    
    
                }
    
                .troiscol{
    
                    
                    display: flex;
    
    
                    .blsd{
                        width: 20%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        .boitelogotxt{
    
                            border-bottom: solid gray 3px;
                            border-right: red 5px solid;
                            width: 100%;
                           padding: 10%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                             align-items: center;
    
    
                        
    
                            .logosize{
                                font-size: 50px;
                                color: gray;
                            }
    
                            .logosize:hover{
                                font-size: 50px;
                                color: red;
                            }
    
                            .courgette{
                                font-family: courgette;
                                font-size: 30px;
    
                            }
                          
                        }
                       
                    }
    
                    .firstcol{
                        
                        width: 35%;
    
                        .imgh4pprix{
                            border-bottom: gray 1px solid;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 10%;
    
                            .logoradius{
                                border: rgba(196, 196, 230, 0.616) solid 5px;
                                border-radius: 50%;
                                width: 25%;
                                height: 25%;
    
                              
                            }  
                            
                                .h4p{
                                 
                                    width: max-content;
    
                                    h4{
                                        font-size: 15px;
                                    }
                                }
    
    
                            .prix{
                                color: red;
                                background-color:rgb(206, 194, 194) ;
                                height: max-content;
                                width: 20%;
                                text-align: center;
                                margin-top: 10%;
                            }
                        }
                    }
                }
    
                    .secondcol{
    
                        
                        width: 35%;
                        margin-left: 3%;
    
                        .imgh4pprix{
                            border-bottom: gray 1px solid;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 10%;
    
                            .logoradius{
                                border: rgba(196, 196, 230, 0.616) solid 5px;
                                border-radius: 50%;
                                width: 25%;
                                height: 25%;
    
                              
                            }  
                            
                                .h4p{
                                    
                                    width: max-content;
    
                                    h4{
                                        font-size: 15px;
                                    }
                                }
    
    
                            .prix{
                                color: red;
                                background-color:rgb(206, 194, 194) ;
                                height: max-content;
                                width: 20%;
                                text-align: center;
                                margin-top: 10%;
                            }
                        }
    
    
                    }
    
    }
        }    
        
    
        @media (min-width : 320px) and (max-width: 759px) {
    
        
            .bg-box-left-top{
                display: flex;
                width: 30%;
                justify-content: space-between;
                align-items: center;

                .resizeborderred{
                    width: 150%;
                    height: 80px;
                }

                .border2{
                    margin-left: 30%;
                }

                .titreOurStory{
                    font-size: 200%;
                    margin-top: 40%;
                    margin-left: 40%;
                }

            }  
            
            .txt_ourstory{
                font-size: smaller;
            } 

            .txt_ourstory2{
                display: none;
            }
        
        }   .titreOurMenu{
            font-size: 200%;
            margin-top: 10%;

            

            
        }

        .bottom2red{
            width: 113%;

            .changesize{
                height: 80px;
            }
        }


        .row{
            height: 450px;

            .col-3{



                .logotxtmenu{
                width: 20%;

                i{
                    font-size: 60%;
                    border-right: red solid 3px;
                    padding: 5px;
                }
                .courgette{
                    display: none;
                }

                
              }


            

              

            }

            .col-9{


                .firstcolmenu{
                    display: flex;
                    flex-direction: column;
                    
                    .imgh4pprix{
                        width: 17%;
                        height: 80px;
                        

                        .logoradius2{
                            height: 80px;

                        }

                        .deer{
                            font-size: smaller;
                            width: 200%;

                        }

                        .loremnone{
                            display: none;

                        }

                        .prix{
                            margin-left: 130%;
                        }
                        
                    }

                }

                .secondcol2{
                    display: none;
                    
                }
            }

         
            

        }

        
        
        
        @media (min-width : 640px) and (max-width : 1007px){


            .bg-ourstory{

                .container2{

                    .ourStorybox{

                        .bg-box-left-top{

                            width: 80%;

                            .titreOurStory{
                                font-size: 50px;
                                
                            }
                            .decoline{
                                margin-top: 60%;
                                margin-left: 33%;
                            }

                            .border2 {
                                margin-left: 30%;

                            }
                        }
                    }

                    .txt_ourstory{
                        font-size: 20px;
                    }

                    .ourMenu{

                        .titreOurMenu{
                            font-size: 40px;

                           
                        }
                        .firstcolmenu{
                         margin-left: 20%;
                         width: 100%;

                        }

                        .bottom2red{
                            width: 100%;
                        }
                        
                    }

                    
                    
                }


            }


        }






        @media (min-width : 1008px) and (max-width : 1010px){



        }