.section4{
    background-image: url("../../../public/images/main_bg.jpg");
    height: 100vh;
    margin-top: 5%;

    .container{
        background-color: white;
        height: 100vh;
        

        .greytitlegrey{
            display: flex;
            width: 100%;
            justify-content: space-between;

            .book_logo{
                text-align: center;

               
            }
          

            .bookyourtable{
                font-family: courgette;
                font-size: 300%;
                margin-top: 12%;
     
            }

           

          
        }

    .bgandform{
        position: relative;


        .forany{
            position: absolute;
            margin-left: 34%;
            margin-top: 8%;
            color: white;
           

        }

        .bg-form{

           width: 50%;
           height: 10%;
           margin-left: 25%;
           margin-top: 5%;
           border-radius: 10px;
        }

        .twoinputs{
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            margin-top: 12%;
            margin-left: 32%;


            .booknow{
                position: absolute;
                margin-top: 2%;
                margin-left: 14%;
                border-radius: 20px;
                font-size: 15px;
            }
            

            .form-row{
                width: 100%;

                .norm_drop{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    
                }
               
            }
        }

       
    }    
        .Ourblog{

            height: 100vh;
            width: 100%;

            .ourblogtitle{
                font-size: 50px;
                font-family: courgette;
                text-align: center;
                margin-top: 5%;
                margin-bottom: 0;
                padding: 0px;
            }

            .decor2{
                position: absolute;
                margin-left: 26.5%;
               

            }


        } 
    }




    .img2redpp{
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        
        
        

        .img_red_pp{



            .imgfeta{

                border: rgb(228, 228, 248) solid 5px;
                border-radius: 20px;

            
            }

            .red{
                background-color: rgb(218, 78, 78);
                color: white;
                position: absolute;
                height: 5%;
                width: 30%;
                text-align: center;
                border-radius: 10px;
                margin-left: 4%;
                margin-top: 20%;

                .pmt{
                    margin-top: 2%;
                }
            }

            .pp2{
                margin-top: 3%;
                width: 90%;
                margin-left: 5%;

            }

            .pp22{
                margin-top: 3%;
                width: 90%;

            }
        }



    }  

    .knowmore{
        margin-left: 47%;
        margin-top: 5%;
        border-radius: 20px;
    }

    .twogreybottom{
        display: flex;
        justify-content: space-between;
        width: 89%;
        margin-left: 5.5%;

    }
}


@media (min-width : 320px) and (max-width : 1880px){


  
    



}