.ourcontact{
    margin-top: 5%;
    margin-left: 40%;


    .ourcontacttxt{

        font-family: courgette;
        font-size: 50px;
        margin-bottom: 0;
        
    }


}

.logosection6{
    margin-left: 34%;

}



