.col-9{
    border: red 3px solid;
    display: flex;
    padding: 0;
    margin: 0;

}

.col-3{

    .logotxtmenu{

        border-bottom: grey solid 2px;
        text-align: center;
        font-size: 50px;
        font-family: courgette;
        color: black;

        i:hover{
            color: red;
        }

       

    
    .boitelogotxt{

        background-color: pink;

    }    


}

.logotxtmenu:hover{
    border-right: red solid 10px;

}



}

.firstcolmenu{
    border: blue solid 3px;
    display: flex;
    flex-wrap: wrap;
    

    .imgh4pprix{
        display: flex;
        width: 45%;
        justify-content: space-between;

        .h4p{
            border: red 3px solid;
            height: max-content;
            width: max-content;
            margin-left: 5%;
        }

        .prix{
            margin-top: 15%;
            margin-left: 5%;
            margin-right: 5%;
            background-color: rgb(198, 198, 233);
            height: max-content;
            color: red;
        }

        .logoradius2{
            border: rgb(176, 176, 214) solid 3px;
            border-radius: 80px;
        }
    }
    
}


.secondcol2{

    border: blue solid 3px;
    display: flex;
    flex-wrap: wrap;

    .imgh4pprix{
        display: flex;
        width: 45%;
        justify-content: space-between;

        .logoradius2{
            border: rgb(176, 176, 214) solid 3px;
            border-radius: 80px;
        }
    }
    
}